@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 930px;
    width: 100%;
    background: black;
    border-radius: 10px;
    opacity: 0.9;
    overflow: hidden;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.logo img {
    width: 50%;
    max-width: 100%;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 346px;
    width: 100%;
    border-radius: 10px;
    transition: height 0.2s ease;
}

.form {
    width: 100%;
    padding: 30px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.9;
    transition: margin-left 0.18s ease;
    align-items: center;
    margin-top: 20px;
}

.container .form .title {
	position: relative;
	font-size: 30px;
	font-weight: 700;
	color: white;
}

.title hr {
	width: 35%;
}

.form .input-field {
	position: relative;
	height: 70px;
	width: 100%;
	margin-top: 10px;
}

.form .text {
	color: black;
	font-size: 14px;
}

.form .button {
	margin-top: 15px;
	height: 30px;
}

.form .button input {
	border: none;
	color: white;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
	border-radius: 7px;
	background-color: darkgreen;
	cursor: pointer;
}

.button input:hover {
	background-color: green;
}

.form .register {
	margin-top: 10px;
	text-align: center;
}

.form .forgotPass {
	text-align: center;
}

.forgotPass .text {
    color: white;
}

.form .login-signin {
	margin-top: 10px;
	text-align: center;
}

.login-signin .text {
	color: white;
}

.register .text {
	color: white;
}

.input-field input {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 40px;
	border: none;
	outline: none;
	font-size: 14px;
}

.input-field input:is(:focus, :valid) ~ i {
	color: darkgreen;
}

.input-field i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: gray;
	font-size: 18px;
}

.input-field i.icon {
	left: 3%;
}

.input-field i.eye {
	right: 3%;
	cursor: pointer;
	padding: 10px;
}

/* Hide the registration form by default */
.hidden-form {
    display: none;
}